body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.go-back {
  margin: 36px 100px;
  font-size: 30px;
  font-weight: 700;
  color: blue;
}

/* 1-timer-code */

.main-page-list {
  margin: 30px 50px;
}

.main-item a {
  font-weight: 700;
  font-size: 30px;
}
.main-container {
  margin: 36px 156px;
  max-width: 355px;
}
.calender-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

#datetime-picker {
  padding: 8px 16px;
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  color: #2e2f42;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:active {
  color: #000;
  border: 1px solid #4e75ff;
}
#datetime-picker[disabled] {
  color: #808080;
  border: 1px solid #808080;
}

.calender-container button {
  font-weight: 500;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  background: #4e75ff;
  color: #fff;
}
.calender-container button:hover {
  background: #6c8cff;
}
.calender-container button[disabled] {
  background: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  text-align: center;
  color: #2e2f42;
  text-transform: uppercase;
}

/* 2-snackbar-code */

.form {
  margin-top: 36px;
  margin-left: 156px;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.form label {
  display: block;
  margin-bottom: 30px;
}
.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.radio-group {
  display: flex;
  justify-content: center;
  gap: 48px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 24px;
}
.radio-group:hover {
  border: 1px solid #000;
}
.radio-group-legend {
  padding: 0 28px;
}

.radio-group-label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.radio-group-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.radio-group-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.radio-group-input:checked + .radio-group-label::before {
  background-color: #4e75ff;
}

.form button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.form button:hover {
  background-color: #6c8cff;
}
.custom-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
}
.custom-message {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
}

.my-toast .iziToast-body {
  text-align: center;
  width: 383px;
  height: 84px;
}
